<!-- DishMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidd.uber_eat_demo.mapper.DishMapper">

    <!-- pageDishDto -->
    <select id="pageDishDto" resultType="com.kidd.uber_eat_demo.dto.DishDto"> SELECT dish.*,
        category.name AS category_name FROM dish LEFT JOIN category ON dish.category_id =
        category.id <where>
            <if test="name != null and name != ''"> dish.name LIKE CONCAT('%', #{name}, '%') </if>
        </where>
        ORDER BY dish.update_time DESC </select>
</mapper>